@import '../config';

aside.track-aside {
    padding: 1.5em;
    background: rgba(25, 25, 25, .6);
    width: 28%;
    height: max-content;
    position: sticky;
    top: 150px;

    p.header {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: 1.5em;
        border-bottom: 2px solid royalblue;
        padding-bottom: .25em;

        span {
            font-weight: 600;
            color: $clr-greyl;
            text-transform: none;
            font-size: .9rem;
        }
    }

    ul {
        list-style: none;

        li {
            &:not(:last-child) { margin-bottom: .5em; }

            color: $clr-greyd;
            font-weight: 300;
            cursor: pointer;
            transition: .5s;
            @include Clamp(.9, 4, 1);

            &:hover {
                color: $clr-greyl;
            }
        }
    }

    @media (max-width: 1000px) {
        width: 100%;
        margin-top: 2em;
    }
}