@import '../config';

header.home-header {
    height: 100vh;
    padding-top: $navHeight;
    background-image: url('../images/header.jpg');
    background-size: cover;
    @include Flex(sa, c);
    animation: header-image 15s linear infinite;

    @keyframes header-image {
        0% {
            background-size: 100%;
        }

        50% {
            background-size: 105%;
        }

        100% {
            background-size: 100%;
        }
    }

    section.left-informations {
        width: 45%;
        padding: 1em;
        border-radius: .15em;

        section.counter {
            @include Flex(sa, c);

            div {
                background: rgba(30, 30, 30, .75);
                border-radius: .25em;
                padding: .5em;
                width: 25%;
                min-width: max-content;
                aspect-ratio: 1;
                @include Flex(c, c, c);

                span {
                    @include Rectangle(clamp(20px, 6vw, 30px));
                }

                p {
                    &.what {
                        margin: .5em 0;
                        font-family: 'Martel', serif;
                        font-weight: 300;
                        @include Clamp(.8, 5, .95);
                    }

                    &.num {
                        font-weight: 1000;
                        @include Clamp(1.2, 6, 1.75);
                    }
                }
            }
        }

        h1 {
            font-weight: 200;
            @include Clamp(1.5, 10, 2.5);
            margin-bottom: 1em;

            span {
                font-size: 2rem;
                font-size: inherit;
                color: rgb(255, 94, 94);
                font-weight: 700;
                text-shadow: 0 0 4px $clr-black;
                font-family: 'Martel', serif;
            }
        }
    }

    section.right-informations {
        width: 40%;
        background: rgba(30, 30, 30, .5);
        padding: 1em;
        border-radius: .15em;

        h2 {
            font-weight: 200;
            @include Clamp(1.75, 10, 2.5);
        }

        p {
            margin: .5em 0 2em 0;
            @include Clamp(.85, 5, 1);
        }

        section {
            @include Flex(sb);

            $btnClr: rgba(170, 170, 170, .85);

            button {
                width: 45%;
                outline: 0;
                padding: 1em;
                border: 0;
                transition: .5s;
                border-radius: .2em;
                background: transparent;
                border-left: 4px solid $btnClr;
                border-right: 4px solid $btnClr;
                @include Flex(sb, c);
                cursor: pointer;
                position: relative;

                &::before {
                    content: '';
                    transition: .5s;
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: $btnClr;
                }

                span,
                label {
                    @include Layer;
                }

                span {
                    @include Rectangle(clamp(30px, 8vw, 45px));

                    svg {
                        filter: drop-shadow(0 0 2px $clr-black);
                        color: $clr-white;
                    }
                }

                label {
                    color: $clr-white;
                    @include Clamp(.85, 4, .95);
                    text-shadow: 0 0 3px $clr-black;
                    font-weight: 500;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 1350px) {
        background-position: 50% 50%;
        animation: none;
    }

    @media (max-width: 1000px) {
        height: auto;
        flex-direction: column;
        padding: .25em;
        padding-top: calc(1em + $navHeight);
        text-align: center;

        section.left-informations {
            width: 100%;
        }

        section.right-informations {
            width: 100%;
            margin-top: 2em;
        }
    }

    @media (max-width: 480px) {
        section.right-informations {
            padding: 2em .25em;

            section {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
        
        section.left-informations {
            width: 100%;
            padding: 0;

            section.counter {
                div { width: 30%; }
            }
        }
    }
}