@import '../config';

main.search {
    margin-top: $navHeight;
    min-height: 100vh;
    padding: 2em;

    section.container {
        margin-top: 3em;
    }

    section.search-entry {
        @include Flex(sb, c);

        section.query {
            p {
                &.results {
                    font-weight: 700;
                    @include Clamp(1.5, 7, 2);
                }

                &.query {
                    @include Clamp(.95, 5, 1.1);
                    color: $clr-greyl;
                }
            }
        }

        section.searchbar {
            width: 40%;

            div {
                width: 100%;
                position: relative;

                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: .75em;
                    @include Clamp(.85, 3, .95);
                    background: rgba(30, 30, 30, .9);
                    border-radius: .15em;
                    color: $clr-greyd;

                    &::placeholder {
                        opacity: .25;
                        font-size: .8rem;
                    }
                }

                span {
                    @include Rectangle(30px);
                    position: absolute;
                    right: .5em;
                    top: 50%;
                    translate: 0 -50%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 2em .5em;

        section.search-entry {
            flex-direction: column;

            section.query {
                width: 100%;
                margin-bottom: 1.25em;
            }

            section.searchbar {
                width: 100%;
            }
        }
    }
}