@import '../config';

article.search-album {
    display: flex;
    margin-bottom: 2em;
    cursor: pointer;

    section.right {
        @include Flex(sb, none, c);
        padding: .5em;

        p {
            &.author {
                color: $clr-greyd;
                @include Clamp(1, 5, 1.25);
            }

            &.name {
                @include Clamp(1.25, 5, 1.75);
                margin-bottom: .5em;
            }

            &.total {
                margin-bottom: .25em;
                color: $clr-greyl;
                @include Clamp(.8, 4, .95);
            }
        }

        section.rating {
            display: flex;

            div {
                @include Flex(c, c, c);
                margin-right: .75em;
                background: rgba(30, 30, 30, .8);
                padding: .5em clamp(.5em, 5vw, 1.5em);

                span {
                    @include Rectangle(clamp(25px, 6vw, 35px));
                }

                p {
                    @include Clamp(.8, 4, .9);
                }
            }
        }
    }

    figure {
        width: 20%;
        height: max-content;
        margin-right: .25em;
        aspect-ratio: 1;

        img {
            @include FullSize;
            object-fit: cover;
        }
    }

    @media (max-width: 480px) {
        position: relative;

        figure { 
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
        }

        section.right {
            width: 100%;

            section.rating {
                div {
                    flex-grow: 1;
                    margin-right: .25em;
                }
            }
        }
    }
}