@import '../config';

article.search-author {
    margin: 2em 0;
    cursor: pointer;
    display: flex;

    figure {
        width: 10%;
        aspect-ratio: 1;
        min-width: 100px;
        height: max-content;

        img {
            @include FullSize;
            object-fit: cover;
        }
    }

    section.right {
        flex-grow: 1;
        @include Flex(sb, none, c);
        margin-left: .5em;

        p.author {
            font-weight: 200;
            font-size: 1.75rem;
        }

        section.details {
            display: flex;
            flex-wrap: wrap;

            div.rate {
                padding: .4em 1em;
                border-radius: .25em;
                background: rgba(30, 30, 30, .8);
                margin-right: .25em;
                display: flex;

                span {
                    @include Rectangle(30px);
                    margin-right: .25em;
                }

                p {
                    font-size: .85rem;
                    font-weight: 500;
                }
            }
        }
    }

    @media (max-width: 480px) {
        background: rgba(20, 20, 20, .5);
        padding: .4em;

        figure { display: none; }

        section.right {
            margin: 0;

            section.details {
                margin-top: .5em;
                
                div.rate {
                    padding: .4em;
                    background: rgba(25, 25, 25, .8);
                }
            }
        }
    }
}