@import '../config';

article.search-article {
    margin: 2em 0;
    cursor: pointer;
    display: flex;

    figure {
        width: 22%;
        aspect-ratio: 1.5;
        min-width: 150px;
        height: max-content;

        img {
            @include FullSize;
            object-fit: cover
        }
    }

    section.right {
        @include Flex(sb, none, c);
        flex-grow: 1;
        padding: .75em;
        background: rgba(20, 20, 20, .5);

        p.text {
            color: $clr-greyd;
            width: 70%;
            @include Clamp(.8, 4, .9);
            margin: .5em 0;
        }

        div.wrap {
            width: 100%;
            @include Flex(sb);

            &:nth-child(3) {
                align-items: flex-end;
            }
        }

        div.tags {
            display: flex;

            span {
                margin-left: .5em;
                @include Clamp(.8, 4, 1);
                color: $clr-greyl;
                padding: .35em;
                background: rgba(30, 30, 30, .75);
                border-radius: .25em;
            }
        }

        p {
            &.title {
                width: 80%;
                font-weight: 600;
                @include Clamp(1, 6, 1.75);
            }

            &.category,
            &.date {
                color: $clr-greyd;
                @include Clamp(.8, 4, .95);
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        figure {
            width: 100%;
        }

        section.right {
            div.wrap:last-of-type {
                align-items: center;
            }

            p.text { 
                width: 100%; 
                margin-bottom: 1.5em;
            }
        }
    }
}